<mat-card-title>Gerenciar Temas</mat-card-title>
<mat-card>
    <mat-card-content>
        <form #temaForm="ngForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Nome do Tema</mat-label>
                <input matInput placeholder="Nome" [(ngModel)]="tema.name" name="name" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Cor do Tema</mat-label>
                <input matInput placeholder="Cor" [(ngModel)]="tema.color" name="color" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Preço do Tema</mat-label>
                <input matInput placeholder="Preço" type="number" [(ngModel)]="tema.price" name="price" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Itens do Tema</mat-label>
                <mat-select [(ngModel)]="tema.itens" name="itens" multiple>
                    <mat-option *ngFor="let item of itens" [value]="item.id">
                        {{ item.name }} - {{ item.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Salvar Tema</button>
        </form>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-list>
        <div *ngFor="let tema of temas">
            <mat-list-item> Nome: {{ tema.name }}</mat-list-item>
            <mat-list-item> Cor: {{ tema.color }}</mat-list-item>
            <mat-list-item> Valor: R$ {{ tema.price }}</mat-list-item>
            <mat-list *ngFor="let item of obterItensTema(tema)">
                <mat-label>Itens do Tema</mat-label>
                <mat-list-item> Nome: {{ item.name }} - Descrição: {{ item.description }}</mat-list-item>
            </mat-list>
            <button mat-raised-button color="primary" (click)="selecionarTema(tema)">Editar</button>
            <button mat-raised-button color="warn" (click)="deletarTema(tema.id)">Deletar</button>
            <mat-divider></mat-divider>
        </div>
    </mat-list>
</mat-card>


