<mat-card>
    <mat-card-title>Gerenciar Usuários</mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="isEditing ? editarUsuario() : criarUsuario()">
            <mat-form-field>
                <mat-label>Nome do Usuário</mat-label>
                <input matInput placeholder="Nome" [(ngModel)]="usuario.name" name="name" #nameInput required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email do Usuário</mat-label>
                <input matInput placeholder="Email" [(ngModel)]="usuario.email" name="email" required>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">
                {{ isEditing ? 'Editar Usuário' : 'Criar Usuário' }}
            </button>
        </form>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-list>
        <div *ngFor="let usuario of user">
            <mat-list-item> Nome: {{ usuario.name }} </mat-list-item>
            <mat-list-item> Email: {{ usuario.email }} </mat-list-item>
            <div>
                <button mat-raised-button color="primary" (click)="selecionarUsuario(usuario)">Editar</button>
                <button mat-raised-button color="warn" (click)="deletarUsuario(usuario.id)">Deletar</button>
            </div>
            <mat-divider></mat-divider>
        </div>
    </mat-list>
</mat-card>