<div class="container">
    <div *ngIf="usuariosMaisAlugueis.length > 0; else noData">
        <div class="container-text">
            <p>Usuários que Mais Alugaram Temas</p>
        </div>
           <div class="card-container">
            <div class="card" *ngFor="let item of usuariosMaisAlugueis | slice:0:3">
                <h3>{{ item.usuario.name }}</h3>
                <p>{{ item.totalAlugueis }} Aluguéis</p>
            </div>
           </div>
    </div>
    
    <ng-template #noData>
        <p>Não há dados de aluguéis no momento.</p>
    </ng-template>
</div>