<!-- Menu Principal -->
<button mat-button [matMenuTriggerFor]="mainMenu">Menu</button>
<mat-menu #mainMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="temasMenu">Temas</button>
    <button mat-menu-item [matMenuTriggerFor]="itensMenu">Itens</button>
    <button mat-menu-item [matMenuTriggerFor]="usuariosMenu">Usuários</button>
</mat-menu>

<!-- Menu Temas -->
<mat-menu #temasMenu="matMenu">
    <button mat-menu-item routerLink="/temas">Gerenciar Temas</button>
</mat-menu>

<!-- Menu Itens -->
<mat-menu #itensMenu="matMenu">
    <button mat-menu-item routerLink="/itens">Gerenciar Itens</button>
</mat-menu>

<!-- Menu Usuários -->
 <mat-menu #usuariosMenu="matMenu">
    <button mat-menu-item routerLink="/user">Gerenciar Usuaários</button>
</mat-menu>