nav {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 15px 0;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}