<div class="container">
   <p class="title">Alugueis</p>
</div>

<div class="temas-periodo">
    <app-temasperiodo></app-temasperiodo>
    <app-usuarios-mais-alugam> </app-usuarios-mais-alugam>
    <app-receitaalugueis></app-receitaalugueis>
</div>
   
<div class="alugueis-crud">
    <div class="crud-title">
        <p class="title">Gerenciar Alugueis</p>
    </div>
    <div class="addAluguel">
        <button (click)="toggleFormAluguel()"> Novo aluguel </button>
    </div>
    <div *ngIf = "addAluguel">
        <div class="aluguel-form">
            <app-aluguelform  *ngIf="addAluguel" [aluguel]="aluguelSelecionado" (formClosed)="toggleFormAluguel()"></app-aluguelform>
        </div>
</div> 
        
        
        
        
<div class="historico">
    <div class="historico-title">
        <p class="title"> Histórico de alugueis</p>
    </div>
        <div *ngIf="alugueis" class="historico-alugueis">
            <div class="card-container">
                <div class="card" *ngFor="let aluguel of alugueis">
                    <p>Cliente: {{aluguel.client}}</p>
                    <p>Tema: {{aluguel.theme}}</p>
                    <p>Data: {{aluguel.date | date:'dd MMMM yyyy'}}</p>
                    <button (click)="carregarAluguel(aluguel)">Atualizar</button>
                    <button (click)="excluirAluguel(aluguel.id)">Excluir</button>
                </div>
            </div>
        </div>
    </div> 
</div>
    
