<div *ngIf="temasMaisAlugados.length > 0; else noData">
    <h2>Temas Mais Alugados</h2>
    <ul>
        <li *ngFor="let item of temasMaisAlugados">
            <h3>{{ item.tema.name }}</h3>
            <p>Cor: {{ item.tema.color }}</p>
            <p>Preço: {{ item.tema.price | currency }}</p>
            <p>Itens: {{ item.tema.itens }}</p>
            <p>Total de Aluguéis: {{ item.totalAlugueis }}</p>
        </li>
    </ul>
</div>

<ng-template #noData>
    <p>Não há dados de aluguéis no momento.</p>
</ng-template>


