

<div class="flex-auto">
  <label for="icondisplay" class="font-bold block mb-2"> Default Icon </label>
  <p-calendar 
      [(ngModel)]="date2" 
      [iconDisplay]="'input'" 
      [showIcon]="true" 
      inputId="icondisplay" />
</div>

<div>
  <form (ngSubmit)="temasPeriodo()">
    <label for="data">Selecione o mês e o ano:</label>
    <input id="data" type="date" [(ngModel)]="dataSelecionada" name="data" />

    <button class="btn btn-primary" type="submit">Filtrar</button>
  </form>
</div>
  
    <div *ngIf="resultado">
      <h3>Aluguéis por Tema em {{ dataSelecionada | date:'MMMM yyyy' }}</h3>
      <ul>
        <li *ngFor="let tema of resultado | keyvalue">
          {{ tema.value }} aluguéis feitos no período
        </li>
      </ul>
    </div>
  


  