

<div>
    <form (ngSubmit)="temasPeriodo()">
      <label for="mes">Mês:</label>
      <select id="mes"  [(ngModel)]="mesSelecionado" name="mes">
        <option *ngFor="let mes of meses; let i = index" [value]="i + 1">
          {{ mes }}
        </option>
      </select>
  
      <label for="ano">Ano:</label>
      <input id="ano" type="number" [(ngModel)]="anoSelecionado" name="ano" min="2000" max="2100" />
  
      
      <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
    </form>
  
    <div *ngIf="resultado">
      <h3>Aluguéis por Tema em {{ meses[mesSelecionado - 1] }} de {{ anoSelecionado }}</h3>
      <ul>
        <li *ngFor="let tema of resultado | keyvalue">
          {{ tema.value }} aluguéis feitos no período
        </li>
      </ul>
    </div>
  </div>
  